@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -45deg,
    rgb(255, 133, 49) 50%,
    rgba(2, 0, 102, 1) 50%,
    rgb(2, 0, 102) 100%
  );
}
